@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    * {
        @apply m-0 p-0 box-border;
    }

    h1,
    h2,
    h3 {
        @apply font-poppins text-brown-secondary;
    }

    p {
        @apply font-dm-sans leading-normal text-gray-primary;
    }

    a,
    i {
        @apply no-underline cursor-pointer;
    }

    i {
        @apply text-brown-primary;
    }
}

@layer components {
    .divide-1 {
        height: 1px;
        background: linear-gradient(270deg, hsla(9, 36%, 57%, 1) 0%, hsla(9, 65%, 88%, 0.34) 100%);
    }

    .divide-2 {
        height: 1px;
        background: linear-gradient(270deg, hsla(9, 65%, 88%, 0.34), hsla(9, 36%, 57%, 1));
    }

    .menu-mobile,
    nav ul li a::after {
        transition: all .4s ease;
    }

    nav ul li a.active::after {
        width: 100%;
    }

    nav ul li a.active {
        font-weight: 600;
        color: #AE3824
    }

    .limit-content {
        @apply max-w-1280 mx-auto;
    }

    .btn {
        @apply font-dm-sans px-7 py-3 bg-brown-primary text-white rounded font-semibold border-2 border-brown-primary transition-all hover:bg-transparent hover:text-brown-primary;
    }

    /* Header Styles */

    .menu-desktop {
        @apply flex gap-7;
    }

    .menu-mobile {
        @apply absolute left-0 top-1000 h-screen w-screen flex flex-col items-center gap-14 pt-16 text-2xl font-bold bg-white opacity-0 invisible;
    }

    .show-menu {
        @apply !top-0 !opacity-100 !visible z-30;
    }

    .link-menu {
        @apply transition-all hover:text-brown-primary;
    }

    .li-after {
        @apply after:content-[''] after:block after:h-0.5 after:w-0 after:bg-brown-primary after:relative after:top-6;
    }

    /* Main Content */

    .main-title {
        @apply font-bold text-2xl md:text-3xl min-lg:text-4xl;
    }

    .section-description {
        @apply min-lg:text-center min-lg:max-w-520 min-lg:mx-auto;
    }


    /* Home Section */

    .after-element {
        @apply after:content-[''] after:block after:w-full after:h-full after:bg-brown-primary after:absolute after:top-[-40] after:left-14 after:rounded-t-md after:rounded-r-none min-lg:after:rounded-r-md;
    }

    /* Team Section */

    .name-barber {
        @apply font-bold text-lg text-white absolute bottom-3 left-3 font-poppins;
    }

    /* End Main Content */



}